body {
  background: linear-gradient(30deg, rgb(179, 246, 228), rgb(255, 238, 238));
}
header {
  position: static;
}
header a {
  color: darkcyan;
}
header nav a:hover {
  background-color: rgba(124, 161, 243, 0.5);
}
#page_logo a {
  color: darkcyan;
  text-shadow: 1px 1px 2px rgb(0, 0, 255);
}
/*main 영역*/

main ul {
  width: 1200px;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.main_directions li {
  display: flex;
  width: 600px;
  height: 280px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 1px 1px 4px #ccc;
  overflow: hidden;
  color: rgb(77, 77, 77);
}
.main_directions li:nth-of-type(3),
.main_directions li:nth-of-type(6) {
  grid-column: 1/3;
  width: 100%;
}
.main_directions li:nth-of-type(3) img,
.main_directions li:nth-of-type(6) img {
  /*이미지 흑백전환*/
  mix-blend-mode: luminosity;
}
.main_directions li:nth-of-type(3) img:hover,
.main_directions li:nth-of-type(6) img:hover {
  /*이미지 흑백전환*/
  mix-blend-mode: normal;
}
.main_directions img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}
.main_directions::after {
  content: '';
  display: block;
  clear: both;
}
.item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  font-family: 'Nanum Pen Script', sans-serif;
}
.actions {
  text-align: right;
}
.actions a,
.actions a::after,
.actions a:visited {
  color: rgba(200, 200, 255, 0.9);
  text-shadow: 1px 1px 2px #333;
}
.actions a:hover {
  color: aqua;
}
