* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header a {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
  padding: 12px;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  border-radius: 6px;
}

header nav a:hover {
  color: white;
  background-color: rgba(255, 255, 0, 0.5);
}
ul {
  list-style: none;
}
header ul {
  display: flex;
  align-items: center;
  padding: 10px;
}
header li {
  padding: 5px;
  margin: 5px;
  text-align: right;
  border-radius: 5px;
}
a {
  text-decoration: none;
}
#page_logo a {
  padding: 10px;
  font-family: 'Oleo Script', sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

footer {
  background: linear-gradient(180deg, #000, #ccc);
  height: 150px;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer li {
  margin: 20px;
}
footer img {
  width: 80px;
  height: 80px;
}
