#hero {
  height: 800px;
  background-image: url('/img/places/ocean.jpg');
  background-position: center;
  background-size: cover;
}

#hero_content {
  width: 900px;
  position: relative;
  top: 200px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 9px;
  text-align: center;
  vertical-align: middle;
  padding: 50px 0;
  margin: 0 auto;
}

#hero_content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

#hero_content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}

#hero_content a {
  text-decoration: none;
  background-color: rgba(255, 255, 0, 0.5);
  border-radius: 5px;
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero_content a:hover {
  background-color: rgba(255, 255, 0, 0.9);
}

/*Highlight 영역*/

#highlight {
  width: 100%;
  /*그라데이션*/
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(202, 243, 240));
  padding: 24px;
}

#highlight h2 {
  text-align: center;
  margin: 24px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(59, 65, 64);
}

#destinations {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.destination {
  width: 30%;
  text-transform: uppercase;
}
.destination p {
  font-size: 24px;
  color: rgb(123, 123, 123);
  margin: 20px 0;
}

.destination strong {
  color: rgb(0, 160, 117);
}

.destination img {
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 9px;
  object-fit: cover;
  /*이미지 흑백전환*/
  mix-blend-mode: luminosity;
}
.destination img:hover {
  mix-blend-mode: normal;
}
