* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
/*Header 영역*/
header {
  width: 1400px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
header h1 {
  font-family: '돋움', sans-serif;
}
header li {
  list-style: none;
}
nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: flex;
}
.main_menu {
  display: flex;
  font-size: 0.8em;
}
.main_menu li {
  margin: 10px;
}
.menu_btn {
  /* display: block; */
  display: none;
}
.menu_btn li {
  border-bottom: 1px solid #333;
  padding: 3px;
  width: 10px;
}
/*main영역*/
section {
  width: 100%;
  height: 280px;
  background: url(img/sub_intro.jpg);
  position: relative;
  margin: 0 auto;
}
section img {
  max-width: 100%;
}
main section::after {
  content: '';
  clear: both;
  display: block;
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: lemonchiffon;
  text-align: center;
}
#text h1 {
  margin: 20px 0 auto;
  font-size: 40px;
  color: white;
}
#text h3 {
  min-width: 100%;
}
#container1 {
  background: linear-gradient(45deg, rgb(255, 255, 255), rgb(255, 255, 228));
}
#container2 {
  background: linear-gradient(45deg, rgb(211, 211, 211), rgb(255, 255, 255));
}
.text_part {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#main_content li {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  width: 1200px;
  /* border: 1px solid red; */
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: 3px 3px rgba(204, 255, 65, 0.5); */
}
#main_content ul {
  padding: 60px;
}
#main_content img {
  max-width: 100%;
  object-fit: cover;
}
/*footer영역*/
footer {
  color: #fff;
  padding-bottom: 80px;
  background-color: #292c32;
}
footer a:link {
  color: #fff;
}
footer::after {
  content: '';
  display: block;
  clear: both;
}
footer .box div {
  padding: 60px 0 0 20px;
}
footer .box div h1 {
  margin-top: 20px;
}
.box {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
footer .box div li {
  display: inline-block;
  margin-right: 5px;
}
footer .box div p {
  margin-top: 20px;
  line-height: 1.5;
}
footer .box div:last-child {
  text-align: right;
  padding-right: 20px;
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .main_menu {
    display: none;
  }
  .menu_btn {
    display: block;
    margin-right: 20px;
  }
  header,
  footer {
    width: 100%;
  }
  #main_img * {
    min-width: 100%;
  }

  #main_content li {
    grid-template-columns: 1fr;
    width: 100%;
    padding-top: 40px;
  }
  #main_content ul {
    width: 100%;
    padding: 0;
  }
  #main_content div:first-of-type {
    order: 2;
  }
  #main_content div:nth-of-type(2) {
    order: 1;
  }
  #li_pa {
    padding-bottom: 40px;
  }

  footer .box div {
    padding: 0;
  }
  footer {
    padding: 20px;
  }
  .box {
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 1em;
  }
  footer .box div li {
    display: inline-block;
    margin-right: 5px;
  }
  footer .box div p {
    margin: 20px 0;
    line-height: 1.5;
  }
  footer .box div:last-child {
    text-align: left;
    padding-right: 20px;
  }
}
