* {
  margin: 0;
  padding: 0;
}
tr,
td {
  line-height: 1.8;
  font-size: 15px;
}
input text {
  height: 28px;
  width: 200px;
}
select {
  display: inline;
}
div {
  padding: 20px;
  margin-left: 10px;
  width: 400px;
  /* border-top: 1px solid #000; */
  /* border-bottom: 1px solid #000; */
  box-shadow: 1px 2px 10px #999;
}
h3 {
  padding: 20px;
}
button {
  font-size: 13px;
  border: 1px solid black;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px grey;
}
span {
  font-size: 13px;
}
#save {
  width: 400px;
  border: 0;
  text-align: right;
  padding-top: 10px;
  box-shadow: none;
}
.col1 {
  width: 120px;
}
.col2 {
  width: 230px;
}
