* {
  margin: 0;
  padding: 0;
}
ul {
  padding: 10px;
  width: 400px;
}
li {
  list-style-type: none;
  margin: 10px;
}
h3 {
  margin: 40px 0 10px 15px;
}
div {
  border: 1px solid grey;
}
img {
  width: 100%;
}
.row3 {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}
.row4 {
  font-size: 14px;
}
.row5 {
  text-align: right;
  font-size: 12px;
}
span {
  color: orange;
}
.row2 {
  margin: 0;
  font-weight: bold;
  padding: 10px 0 0 10px;
}
#nob {
  border-top: 0;
  margin: 0;
}
