/*header영역*/
header {
  width: 1100px;
  margin: 0 auto;
  height: 166px;
  border: 1px solid red;
}
#logo {
  float: left;
  margin: 80px 0 0 60px;
}
#menu {
  float: right;
  text-align: right;
  margin-right: 20px;
}
#top_menu {
  margin-top: 18px;
  float: right;
}
nav li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}
#main_menu {
  margin-top: 85px;
  font-size: 20px;
  font-weight: bold;
}
.box {
  position: relative;
  border: 1px solid blue;
  width: 1100px;
  margin: 0 auto;
}
.box::after {
  position: relative;
  content: '';
  display: block;
  clear: both;
}
/*main 이미지 영역*/
#main_img {
  height: 312px;
  background: url(/09/img/main_bg.png) no-repeat center top;
  border: 1px solid red;
}
#main_img .box {
  height: 100%;
}

#main_img .box .btn {
  position: absolute;
  right: 104px;
  bottom: 43px;
}
/*사이드바 영역*/
aside {
  margin: 20px 0 20px 0;
  border: 1px solid aqua;
  width: 220px;
  float: left;
}
aside .title1 {
  color: white;
  padding: 12px;
  background-color: rgb(12, 169, 163);
  font-size: 18px;
}
aside p {
  padding: 20px 10px;
  line-height: 1.2;
}
.search {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
.search input {
  width: 160px;
  height: 30px;
  border: 1px solid black;
}
.search button {
  padding: 7px 5px;
  vertical-align: top;
  border: 1px solid black;
}
aside .title2 {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: bold;
}
aside .list {
  padding: 15px;
  line-height: 1.5;
}

.reply {
  border: 1px solid rgb(12, 169, 163);
}
.reply .title2 {
  border-bottom: 0px;
  padding-bottom: 0px;
}
/*메인 영역*/
.main_section {
  float: left;
}
#main {
  position: relative;
  float: right;
  width: 840px;
  margin: 20px 0;
}
.article1,
.article2 {
  margin-bottom: 30px;
  border: 1px solid red;
  width: 400px;
  height: 200px;
}
.main_ti {
  text-align: left;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid black;
}
.article_list {
  position: relative;
  margin: 20px 0 40px 0;
  line-height: 1.8;
}
.article_list span {
  position: absolute;
  right: 0;
}
.bread {
  text-align: right;
}
#main .item {
  display: inline-block;
  width: 190px;
  height: 160px;
  margin-top: 34px;
  margin-right: 25px;
  border: 1px solid red;
}
.item_img {
  width: 190px;
  height: 120px;
}
.item_ti {
  margin: 3px 0;

  text-align: left;
  font-weight: bold;
}
.item_date {
  text-align: left;
}
/*푸터영역*/
footer {
  margin: 0 auto;
  width: 1100px;
  height: 250px;
  border: 1px solid orange;
  background-color: rgb(5, 53, 78);
  color: white;
}
#footer {
  margin-left: 100px;
  margin-left: 100px;
  width: 1000px;
  height: 250px;
  border: 1px solid orange;
}
.co_info {
  margin: 20px 0 34px 0;
  font-size: 17px;
  /* font-weight: bold; */
}
.info_list1 {
  display: inline-block;
  font-weight: 800;
}
.info_list {
  display: inline-block;
  margin-left: 30px;
  font-weight: 800;
}
.class_info_de {
  border: 1px solid green;
}
.info_de_list {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
  width: 320px;
}
.de_list_ti {
  font-size: 18px;
  font-weight: bold;
  color: rgb(12, 169, 163);
  margin-bottom: 24px;
}
.info_de h1 {
  font-size: 24px;
  font-weight: bold;
}
