a {
  color: #999;
  text-decoration: none;
}
a:visited {
  color: rgb(255, 0, 0);
}
a:hover {
  color: brown;
  text-decoration: underline;
}
a:active {
  color: beige;
  text-decoration: none;
}
h1 {
  color: red;
}
