* {
  margin: 0;
  padding: 0;
}
.header {
  width: 800px;
  height: 40px;
  background-color: green;
  margin-top: 20px;
}
.sidebar {
  float: left;
}
.mainsection {
  float: right;
  width: 550px;
}
.story {
  width: 800px;
  margin: 0 auto;
}
#title {
  color: white;
}
.sidebar {
  width: 220px;
}
.hg {
  font-size: 30px;
}
.sidebar p {
  margin-top: 10px;
}
.main-img img {
  width: 200px;
  float: left;
}
.main-list {
  float: right;
}
li {
  list-style: none;
  margin-bottom: 13px;
}
.h {
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
}
.s {
  font-size: 18px;
  border-bottom: 2px solid #aaa;
  padding-right: 20px;
}
