body {
  color: #444;
  font-family: '맑은고딕';
}
h1 {
  font-family: sans-serif;
}
h3 {
  color: green;
  text-decoration: underline;
  font-style: italic;
}
span {
  color: black;
  font-weight: bold;
}
